<div class="min-w-full">
  <div class="min-h-full  border border-neutral-200 dark:border-neutral-700 border-2 rounded overflow-hidden shadow-2xl relative backdrop-blur" style="display: flex; flex-direction: column; align-items: center;max-width:50%;margin:auto;" >
    <div class="w-full thumbnail_card nozoom relative" style="width:60px;height:60px;background-size: 60px 60px;{{ with .Get "image" }}background-image: url('{{ . | absURL }}');{{ end }}"></div>
      <div class="px-6 py-4">
      <div class="font-bold text-xl text-neutral-800 dark:text-neutral text-center">
        {{ .Get "header" | emojify }}
      </div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400 text-center">
        {{ .Get "subheader" | emojify }}
      </div>
    </div>
  </div>
</div>
