<div class="min-w-full" style="display: flex;justify-content: center;">
        <div class="min-h-full border border-neutral-200 dark:border-neutral-700 border-2 rounded overflow-hidden shadow-2xl relative backdrop-blur" style="display: flex; flex-direction: column; align-items: center;margin:0.5rem;">
          <div class="w-full thumbnail_card nozoom relative" style="width: 60px; height: 60px; background-size: 60px 60px;{{ with .Get "image-1" }}background-image: url('{{ . | absURL }}');{{ end }}"></div>
          <div class="px-6 py-4 text-center">
            <div class="font-bold text-xl text-neutral-800 dark:text-neutral">
              {{ .Get "header-1" | emojify }}
            </div>
            <div class="text-sm text-neutral-500 dark:text-neutral-400">
              {{ .Get "subheader-1" | emojify }}
            </div>
          </div>
      </div>
      <div class="min-h-full border border-neutral-200 dark:border-neutral-700 border-2 rounded overflow-hidden shadow-2xl relative backdrop-blur" style="display: flex; flex-direction: column; align-items: center;margin:0.5rem;">
          <div class="w-full thumbnail_card nozoom relative" style="width: 60px; height: 60px; background-size: 60px 60px;{{ with .Get "image-2" }}background-image: url('{{ . | absURL }}');{{ end }}"></div>
          <div class="px-6 py-4 text-center">
            <div class="font-bold text-xl text-neutral-800 dark:text-neutral">
              {{ .Get "header-2" | emojify }}
            </div>
            <div class="text-sm text-neutral-500 dark:text-neutral-400">
              {{ .Get "subheader-2" | emojify }}
            </div>
      </div>
    </div> 
</div>